{% extends "base.html" %}
{% load static tailwind_tags %}
{% block title %}Home{% endblock %}

{% block content %}

<div class="container mx-auto px-0.5">
<h1 class="mb-4">🔥 Popular Movies</h1>

<!-- reponsive grid -->
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
  {% for movie in page_obj %}
<div class="card bg-base-100 image-full w-full h-[500px] shadow-sm">
  <figure>
    <img src="https://image.tmdb.org/t/p/w300{{ movie.poster_path }}"
         alt="{{ movie.title }}"
         class="w-full h-full object-cover">
  </figure>

  <!-- makes card-body a vertical flex container -->
  <div class="card-body flex flex-col">
    <h5 class="card-title">{{ movie.title }}</h5>
    <p>Release: {{ movie.release_date }}</p>

    <!-- spacer pushes the next section to the bottom -->
    <div class="flex-grow"></div>

    <!--rating on left, button on right -->
    <div class="flex justify-between items-center w-full">
      <p class="text-sm opacity-80">
        Rating:
        {% if movie.avg_rating_name %}
          {{ movie.avg_rating_name }}
        {% else %}
          No ratings yet
        {% endif %}
      </p>
      <div class="card-actions">
        <a class="btn btn-primary" href="{% url "movies:movie_detail" movie.id %}">
          See more
        </a>
      </div>
    </div>
  </div>
</div>
  {% endfor %}

  <div class="pagination">
  {% if page_obj.has_previous %}
    <a href="?query={{ query }}&page={{ page_obj.previous_page_number }}">Previous</a>
  {% endif %}

  <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

  {% if page_obj.has_next %}
    <a href="?query={{ query }}&page={{ page_obj.next_page_number }}">Next</a>
  {% endif %}
</div>

</div>
</div>
{% endblock %}
