{% extends "base.html" %}
{% load static tailwind_tags %}
{% block title %}Home{% endblock %}

{% block content %}

<h1 class="mb-4">🔥 Popular Movies</h1>

<div class="grid grid-cols-4 gap-4">
  {% for movie in page_obj %}
      <div class="card bg-secondary shadow-sm image-full">
        {% if movie.poster_path %}
        <figure>
          <img src="https://image.tmdb.org/t/p/w300{{ movie.poster_path }}" class="card-img-top" alt="{{ movie.title }}">
        </figure>
        {% else %}
        <figure>
        <img> <!-- placeholder-->
        </figure>
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ movie.title }}</h5>
          <p class="card-text">
            Release: {{ movie.release_date }} <br>
              <p>Rating: 
      {% if movie.avg_rating_name %}
        {{ movie.avg_rating_name }}
      {% else %}
        No ratings yet
      {% endif %}
    </p>
        </div>
        <div class="justify-end card-actions">
        <a class="btn btn-primary" href="{% url "movies:movie_detail" movie.id %}">See more</a>
        </div>
      </div>
  {% endfor %}

  <div class="pagination">
  {% if page_obj.has_previous %}
    <a href="?query={{ query }}&page={{ page_obj.previous_page_number }}">Previous</a>
  {% endif %}

  <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

  {% if page_obj.has_next %}
    <a href="?query={{ query }}&page={{ page_obj.next_page_number }}">Next</a>
  {% endif %}
</div>

</div>
{% endblock %}
