{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1 class="mb-4">🔥 Popular Movies</h1>

<div class="row">
  {% for movie in movies %}
    <div class="col-md-3 mb-4">
      <div class="card bg-secondary text-light h-100">
        {% if movie.poster_path %}
          <img src="https://image.tmdb.org/t/p/w300{{ movie.poster_path }}" class="card-img-top" alt="{{ movie.title }}">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ movie.title }}</h5>
          <p class="card-text">
            Release: {{ movie.release_date }} <br>
            ⭐ {{ movie.vote_average }}/10
          </p>
        </div>
        <a class="btn-primary" href="{% url "movie_detail" movie.id %}">See more</a>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
