{% extends "base.html" %}
{% block title %}{{ movie.title }}{% endblock title %}
{% block content %}
<img src="https://image.tmdb.org/t/p/w800{{ movie.backdrop_path }}"  alt="{{ movie.title }}">

<h1> {{movie.title}}</h1>
<h2> {{movie.overview}} </h2>
<img src="https://image.tmdb.org/t/p/w300{{ movie.poster_path }}"  alt="{{ movie.title }}">
<p>{{movie.release_date}}</p>

{% if user.is_authenticated %}
<button>Add to my Watchlist</button>
{% else %}
<p>Sign in to add this movie to your watchlist!</p>
{% endif %}

<h2>Reviews</h2>
<ul>
  {% for review in reviews %}
    <li>
              <a href="{% url 'core:user_profile' review.author.username %}">
          {{ review.author.username }}
        </a> ({{ review.rating }}/10): {{ review.body }}
    </li>
  {% empty %}
    <li>No reviews yet. Be the first!</li>
  {% endfor %}
</ul>
{% if user.is_authenticated %}
  {% if user_review %}
      <p>Your review: {{ user_review.body }}</p>
      <a href="{% url 'edit_review' user_review.id %}">Edit Review</a>
      <a href="{% url 'delete_review' user_review.id %}">Delete Review</a>
  {% else %}
      <form method="POST">
          {% csrf_token %}
          <textarea name="body"></textarea>
          <input type="number" name="rating" min="0" max="5">
          <button type="submit">Submit Review</button>
      </form>
  {% endif %}
{% else %}
  <p><a href="{% url 'account_login' %}">Log in</a> to leave a review.</p>
{% endif %}
{% endblock content %}