{% load static tailwind_tags %}
{% include "partials/sidebar.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>MT | {% block title %}{% endblock title %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
</head>

<body class="bg-gray-50 text-black font-extrabold text-6xl leading-normal tracking-normal">
{% block content %}
{% endblock %}
</body>
</html>
